<div *ngIf="ready">
  <h1>{{project.name}}</h1>
  <div *ngIf="project.description" [innerHTML]="project.description"></div>
  <div *ngIf="project.instructions" [innerHTML]="project.instructions"></div>

  <ol class="deliverables">
    <li *ngFor="let deliverable of project.deliverables">
      <h2>{{deliverable.name}}</h2>
      <div class="cols">
        <div>
          <section *ngIf="deliverable.description">
            <h6>Description</h6>
            <div [innerHTML]="deliverable.description"></div>
          </section>
          <section *ngIf="deliverable.instructions">
            <h6>Instructions</h6>
            <p>{{deliverable.instructions}}</p>
          </section>
          <section *ngIf="deliverable.references">
            <h6>References</h6>
            <ul class="references">
              <li *ngFor="let reference of deliverable.references">
                <a [href]="reference.link">{{reference.name}}</a> - {{reference.description}}
              </li>
            </ul>
          </section>
          <section>
            <h6>Upload Path</h6>
            <code>(your repo)/{{linkService.abstractDeliverableSingleFilePath(project, deliverable)}}</code>
            <h6>Or provide deliverable.json</h6>
            <code>(your repo)/{{linkService.abstractDeliverableConfigPath(project, deliverable)}}</code>
          </section>
        </div>
        <ul class="person-links">
          <li *ngFor="let person of persons">
            <wu-deliverable-link [project]="project" [deliverable]="deliverable" [person]="person"></wu-deliverable-link>
          </li>
        </ul>
      </div>
    </li>
  </ol>

</div>